<%= paginator.render do %>
  <div class="pagination">
    <ul class="pagination">
      <% unless current_page.first? %>
        <%= prev_page_tag %>
      <% end %>
      <%= page_tag current_page%>
      <% if @options[:row_count] == @options[:per_page] %>
        <%= next_page_tag %>
      <%end%>
    </ul>
  </div>
<% end %>
